body{
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
    align-items: center;
    border: 1px solid #000;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

    form a {
        text-align: right;
    }

input{
    margin-top: 20px;
}

button {
    margin-top: 20px;
    border-radius: 3px;
    border: none;
    background: rgb(30, 215, 96);
    color: #fff;
    padding: 10px;
}

label{
    margin-bottom: 30px;
}